* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}
section.wrapper {
    max-width: 1480px;
    width: 90%;
    margin: 0 auto;
}


header{
    background: #000;
    color: #AFAFAF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto 0;
}
header section.topbaar{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
header section.topbaar div.middile{
    display: flex;
    gap: 20px;
    margin-left: 429px;
}
header section.topbaar div.middile p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FAFAFA;
}
header section.topbaar div.middile a{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: underline;
}
header section.topbaar div.right{
    display: flex;
    gap: 8px;
}
header section.topbaar div.right small{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FAFAFA;
}
header section.topbaar div.right div.dwonarrow{
    width: 7.78px;
    height: 12.73px;
    margin: auto 0;
    cursor: pointer;
}
header section.topbaar div.right div.dwonarrow img{
    width: 100%;
    display: block;
}







#hanbaar{
    position: absolute;
    right: 41px;
    top: 55px;
    z-index: 100;
    display: none;
}
#hanbaar div.hanbox{
    width: 200px;
    height: 300px;
    background: #000000;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px;
    padding-top: 22px;

}
#hanbaar div.hanbox ul{
    text-align: center;
}
#hanbaar div.hanbox ul li{
    margin-bottom: 15px;
}
#hanbaar div.hanbox ul li.closse{
    margin-left: 117px;
}
#hanbaar div.hanbox ul li.closse img{
    
}
#hanbaar div.hanbox ul li a{
    color: #ffffff;
    font-size: 16px;
    font-weight:500;
    line-height: 21px;
}













#navebaar{
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}
#navebaar section.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}
#navebaar section.container div.left{

}
#navebaar section.container div.left h1{

}
#navebaar section.container div.left h1 a{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3%;
    color: #000000;
}
#navebaar section.container div.middle{

}
#navebaar section.container div.middle ul{
    display: flex;
    gap: 48px;

}
#navebaar section.container div.middle ul li{

}
#navebaar section.container div.middle ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}
#navebaar section.container div.middle ul li div.underline{
    width: 48px;
    height: 1px;
    border: 1px solid #0000;
    background: #000;
    display: none;
}
#navebaar section.container div.right{
    display: flex;
    gap: 35px;
}
#navebaar section.container div.right div.search-box{
    width: 243px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #F5F5F5;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}
#navebaar section.container div.right div.search-box input{
    background: #f5f5f5;
    border: none;
}
#navebaar section.container div.right div.search-box input[placeholder]{
    border: none;
    border-color: #f5f5f5;

}
#navebaar section.container div.right div.search-box div.search-icone{
    position: relative;
}
#navebaar section.container div.right div.search-box div.search-icone img{
    
}











#navebaar section.container div.right div.search-box div.searchClosse{

}
#navebaar section.container div.right div.search-box div.searchClosse img{
    position: absolute;
    top: 6px;
    right: 6px;
    display: none;
}

























#navebaar section.container div.right div.threeline{
    width: 32px;
    height: 32px;
    display: none;
}
#navebaar section.container div.right div.threeline img{
    width: 100%;
    display: block;
}
#navebaar section.container div.right div.like-box{
    width: 32px;
    height: 32px;
}
#navebaar section.container div.right div.like-box img{
    width: 100%;
    display: block;
}
#navebaar section.container div.right div.cart-box{
    width: 32px;
    height: 32px;
}
#navebaar section.container div.right div.cart-box img{
    width: 100%;
    display: block;
}
#navebaar div.line{
    width: 100%;
    height: 1px;
    border:1px solid #ebebeb;
    margin-top: 10px;
}



#addse{
    margin-bottom: 40px;
}
#addse div.addsebox{
    display: flex;
    justify-content: space-between;
    height: 453px;
}
#addse div.addsebox div.left{
    width: 50%;
    color: #fff;
    background: #000;
    padding-top: 104px;
    padding-left: 104px;
    border-radius: 10px 0 0 10px;
}
#addse div.addsebox div.left div.apple{
    display: flex;
    gap: 24px;
    margin: auto 0;
    margin-bottom: 15px;
}
#addse div.addsebox div.left div.apple div.appleLogo{
    width: 40px;
    height: 49px;
}
#addse div.addsebox div.left div.apple div.appleLogo img{
    width: 100%;
    display: block;
}
#addse div.addsebox div.left div.apple small{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fafafac2;;
    margin-top: 14px;
    margin-left: -10px;
}
#addse div.addsebox div.left p{
    width: 41%;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 4%;
    color: #FAFAFA;
    margin-bottom: 15px;
}
#addse div.addsebox div.left a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FAFAFA;
}
#addse div.addsebox div.left a img{
    
}
#addse div.addsebox div.right{
    width: 50%;
    background-image: url('../image/phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
}





#category{
margin-bottom: 40px;
}
#category div.top{ 
    display: flex;
    gap: 16px;
    margin: auto 0;
    margin-bottom: 15px;
}
#category div.top div.redbox{ 
    width: 20px;
    height: 40px;
    border: 1px solid #DB4444;
    border-radius: 4px;
    background: #db4444;
}
#category div.top span{ 
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #db4444;
    margin-top: 10px;
}
#category h4{
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 4%;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 27px;
}
#category div.bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
#category div.bottom div.container{
    width: 170px;
    height: 145px;
    border: 1px solid #0000004D;
    border-radius: 4px;
    padding: 20px;
}
#category div.bottom div.container div.image{
    width: 56px;
    height: 56px;
    margin-left: 35px;
    margin-bottom: 10px;
}
#category div.bottom div.container div.image img{
    width: 100%;
    display: block;
}
#category div.bottom div.container small{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}





#spordlight{
    margin-bottom: 40px;
}
#spordlight div.items-prodect{
    /* display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 16px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
#spordlight div.items-prodect div.cardbox{
    width: 270px;
    height: 322px;
    /* gap: 16px; */
    margin-bottom: 55px;
}
#spordlight div.items-prodect div.cardbox div.top{
    height: 250px;
    border: 1px solid #F5F5F5;
    background: #f5f5f5;
    border-radius: 4px;
    position: relative;
    align-items: center;
    margin-bottom: 15px;
}
#spordlight div.items-prodect div.cardbox div.top div.prodectimage{
    width: 157px;
    height: 163px;
    margin-top: 35px;
    margin-left: 40px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
#spordlight div.items-prodect div.cardbox div.top div.oneimage{
    width: 115px;
    margin-left: 59px;
}
#spordlight div.items-prodect div.cardbox div.top div.prodectimage img{
    width: 100%;
    display: block;
}
#spordlight div.items-prodect div.cardbox div.top div.like{
    width: 30px;
    height: 26px;
    position: absolute;
    top: 12px;
    right: 19px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    padding-left: 5px;
}
#spordlight div.items-prodect div.cardbox div.top div.like img{
    width: 100%;
    display: block;
}
#spordlight div.items-prodect div.cardbox div.top div.view{
    width: 30px;
    height: 27px;
    position: absolute;
    top: 47px;
    right: 17px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    padding-left: 5px;
}
#spordlight div.items-prodect div.cardbox div.top div.view img{
    width: 100%;
    display: block;
}
#spordlight div.items-prodect div.cardbox div.top span{
    width: 51px;
    height: 26px;
    position: absolute;
    top: 12px;
    left: 12px;
    border: 1px solid #00FF66;
    border-radius: 4px;
    background: #00FF66;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
}
#spordlight div.items-prodect div.cardbox div.top button.shop{
    width: 270px;
    height: 41px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    border-radius: 0 0 4px 4px;
    display: none;
}


#spordlight div.items-prodect div.cardbox div.bottom{
    position: relative;
}
#spordlight div.items-prodect div.cardbox div.bottom p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}
#spordlight div.items-prodect div.cardbox div.bottom div.rething{
    display: flex;
    gap: 8px;
    margin-bottom: 8px;

}
#spordlight div.items-prodect div.cardbox div.bottom div.rething span{ 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #DB4444;
}
#spordlight div.items-prodect div.cardbox div.bottom div.rething div.stars{ 
    display: flex;
    gap: 5px;
}
#spordlight div.items-prodect div.cardbox div.bottom div.rething div.stars div.starimage{ 
    width: 20px;
}
#spordlight div.items-prodect div.cardbox div.bottom div.rething div.stars div.starimage img{ 
    width: 100%;
    display: block;
}
#spordlight div.items-prodect div.cardbox div.bottom div.rething small{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #00000088;
}
#spordlight div.items-prodect div.cardbox div.bottom div.round{
    display: flex;
    gap: 8px;
   position: absolute;
   left: 0;
   top: 64px;
}
#spordlight div.items-prodect div.cardbox div.bottom div.round div.fullred{
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 2px;
    background: #DB4444;
    margin-top: 2px;
}
#spordlight div.items-prodect div.cardbox div.bottom div.round div.border{
    border: 2px solid #000000;
    border-radius: 50%;
}
#spordlight div.items-prodect div.cardbox div.bottom div.round div.border div.white{
    border: 2px solid #fff;
    border-radius: 50%;
}
#spordlight div.items-prodect div.cardbox div.bottom div.round div.border div.white  div.red{
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #DB4444;
}
#spordlight div.items-prodect div.cardbox div.bottom div.round div.border div.white  div.yellow{
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #EEFF61;
}
#spordlight div.items-prodect div.cardbox div.bottom div.round div.border div.white div.black{
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #184A48;
}
#spordlight div.line{
    width: 100%;
    border: 1px solid #e6e6e6;
}












#products-button{

}
#products-button div.button{
    margin: auto 0;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#products-button div.button button.new-products{
    width: 234px;
    height: 56px;
    border: 1px solid #DB4444;
    border-radius: 4px;
    background: #db4444;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FAFAFA;
    cursor: pointer;
}












#information{
    margin-bottom: 80px;
}
#information div.items{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#information div.items div.box{

}
#information div.items div.box div.top{
    
}
#information div.items div.box div.top div.round{
    width: 60px;
    height: 60px;
    border: 7px solid #c0c0c0;
    border-radius: 50%;
    background: #000;
    padding: 10px;
    margin-left: 86px;
    margin-bottom: 10px;
}
#information div.items div.box div.top div.customer{
    padding: 4px;
}
#information div.items div.box div.top div.money{
    padding: 4px;
}
#information div.items div.box div.top div.round img{

}
#information div.items div.box p{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #000;
}
#information div.items div.box small{
    font-style: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000;

}






footer{
    background: #000;
    color:#FAFAFA;
    padding-top: 80px;
    padding-bottom: 20px;
}
footer div.items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
footer div.items div.contenar{
    
}
footer div.items div.contenar ul{
    
}
footer div.items div.contenar ul li{
    margin-bottom: 8px;
}
footer div.items div.contenar ul li.cut{
    width: 179px;
}
footer div.items div.contenar ul li h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3%;
}
footer div.items div.contenar ul li h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
footer div.items div.contenar ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
}
/* footer div.items div.contenar ul li a.cut{
    width: 100px;
} */
footer div.items div.contenar ul li p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
footer div.items div.contenar div.emailbox{
    width: 217px;
    height: 48px;
    display: flex;
    /* gap: 32px; */
    border: 1px solid #FAFAFA;
    border-radius: 4px;
    background: #000;
    padding-left: 3px;
}
footer div.items div.contenar div.emailbox input{
    border: none;
    background: #000;
    color: #FAFAFA;
    /* width: 147px; */
}
footer div.items div.contenar div.emailbox div.sedimage{
    margin-top: 10px;
}
footer div.items div.contenar div.emailbox div.sedimage img{
    
}

footer div.items div.contenar div.downlode{
    display: flex;
    gap: 8px;
    margin-bottom: 25px;
}
footer div.items div.contenar div.downlode div.left{
    width: 80px;
    height: 80px;
}
footer div.items div.contenar div.downlode div.left img{
    width: 100%;
    display: block;
}
footer div.items div.contenar div.downlode div.right{
    
}
footer div.items div.contenar div.downlode div.right div.app-store{
    width: 110px;
    height: 40px;
    cursor: pointer;
}
footer div.items div.contenar div.downlode div.right div.appstore img{
    width: 100%;
    display: block;
}

footer div.items div.contenar div.app-logo{
    display: flex;
    gap: 24px;
}
footer div.items div.contenar div.app-logo div.app-image{
    width: 24px;
    height: 24px;
}
footer div.items div.contenar div.app-logo div.app-image img{
    width: 100%;
    display: block;
    cursor: pointer;
}

footer div.bottom{
    margin: auto 0;
    text-align: center;

}
footer div.bottom p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff42;
}




























@media (max-width:1440px){
    
}


@media (max-width:1280px){
    header section.topbaar div.middile {
        margin-left: 280px;
    }
    #addse div.addsebox div.left p{
        width: 60%;
    }
    
}


@media (max-width:1252px){
    #spordlight div.items{
        justify-content: space-around;
    }
}





@media (max-width:1080px){
    header section.topbaar div.middile {
        margin-left: 200px;
    }
    #navebaar section.container div.middle ul{
        display: none;
    }
    #navebaar section.container div.right div.like-box{
        display: none;
    }
    #navebaar section.container div.right div.cart-box {
        display: none;
    }
    #navebaar section.container div.right div.threeline{
        display: block;
    }
    #hanbaar{
        /* display: block; */
    }
    #addse div.addsebox div.left{
        width: 40%;
    }
    #addse div.addsebox div.left p {
        width: 100%;
    }
    #addse div.addsebox div.right{
        width: 60%;
    }
    #category div.bottom div.container{
        width: 140px;
        height: 120px;
        padding: 5px;
    }
    #navebaar section.container div.right div.search-box input[placeholder]{
        display: none;
    }
    #navebaar section.container div.right div.search-box{
        width: 39px;
        background: #fff;
        border: none;
    }

}



























@media (max-width:980px){
    header section.topbaar{
        gap: 30px;
    }
    header section.topbaar div.middile{
        margin-left: 0px;
        gap: 10px;
    }
    #addse div.addsebox div.left{
        padding: 31px;
        padding-right: 0px;
    }
    #addse div.addsebox div.left p{
        font-size: 40px;
        font-weight: 500;
        line-height: 56px;
    }
    #addse div.addsebox div.right{
        background-position: -15px 0;
    }
    #category h4{
        font-size: 28px;
        font-weight: 500;
    }
    #category div.bottom div.container{
        width: 108px;
        height: 92px;
        padding: 0px;
    }
    #category div.bottom div.container div.image{
        margin-left: 24px;
    }
    #category div.bottom div.container small{
        font-size: 14px;

    }
    #information div.items div.box p{
        font-size: 16px;
        font-weight: 500;
    }
    #information div.items{
        flex-wrap: wrap;
    }
}






@media (max-width:768px){
    header section.topbaar div.middile p{
        font-size: 10px;
        font-weight: 300;
    }
    header section.topbaar div.middile a{
        font-size: 10px;
        font-weight: 300;
    }
    #addse div.addsebox div.right{
        display: none;
    }
    #addse div.addsebox div.left{
        width: 100%;
        border-radius: 10px 10px 10px 10px;
        height: 350px;
        padding: 50px;
    }
    #addse div.addsebox{
        height: 350px;
    }
    #addse div.addsebox div.left p{
        font-size: 48px;
        font-weight: 600;
        width: 82%;
    }
    #category div.bottom div.container{
        margin-bottom: 20px;
    }
}









@media (max-width:640px){
    #category div.bottom{
        gap: 8px;
        justify-content: center;
    }
    #information div.items div.box{
        margin-bottom: 20px;
    }
}









@media (max-width:540px){
    header section.topbaar div.middile a{
        display: none;
    }
    #addse div.addsebox div.left p{
        width: 100%;
        font-size: 40px;
        font-weight: 500;
    }
}










@media (max-width:480px){
    header section.topbaar div.middile p{
        font-size: 8px;
        font-weight: 600;
    }
    header section.topbaar div.right small{
        font-size: 8px;
        font-weight: 600;
    }
    header section.topbaar{
        gap: 10px;
    }
    #category h4{
        font-style: 24px;
        font-weight: 400;
    }
    footer div.items div.contenar{
        margin-left: 15px;
        margin-bottom: 10px;
    }
}













@media (max-width:360px){
    #addse div.addsebox div.left p{
        width: 100%;
        font-size: 38px;
        font-weight: 400;
    }
  
    #information{
        margin-bottom: 40px;
    }
}

